# SPDX-License-Identifier: CC0-1.0

config poemgr 'settings'
        option profile 'c200p'
        option disabled '0'
        option power_budget '50'

config port 'lan2'
        option port '3'
        option disabled '0'

config port 'lan3'
        option port '2'
        option disabled '0'
	

config port 'lan4'
        option port '1'
        option disabled '0'

config port 'lan5'
        option port '0'
        option disabled '0'
